[Desktop Entry]
Version=1.0
Type=Application
Name=052
Comment=052
Exec=/usr/share/amos/styles/52.sh
Icon=/usr/share/icons/AmOs/actions/24/channelmixer.svg
Path=
Terminal=false
StartupNotify=false
