[Desktop Entry]
Version=1.0
Type=Application
Name=038
Comment=038
Exec=/usr/share/amos/styles/38.sh
Icon=/usr/share/icons/AmOs/actions/24/channelmixer.svg
Path=
Terminal=false
StartupNotify=false
