[Desktop Entry]
Version=1.0
Type=Application
Name=064
Comment=064
Exec=/usr/share/amos/styles/64.sh
Icon=/usr/share/icons/AmOs/actions/24/channelmixer.svg
Path=
Terminal=false
StartupNotify=false
