[Desktop Entry]
Version=1.0
Type=Application
Name=016
Comment=016
Exec=/usr/share/amos/styles/16.sh
Icon=/usr/share/icons/AmOs/actions/24/channelmixer.svg
Path=
Terminal=false
StartupNotify=false
