[Desktop Entry]
Version=1.0
Type=Application
Name=021
Comment=021
Exec=/usr/share/amos/styles/21.sh
Icon=/usr/share/icons/AmOs/actions/24/channelmixer.svg
Path=
Terminal=false
StartupNotify=false
