[Desktop Entry]
Version=1.0
Type=Application
Name=047
Comment=047
Exec=/usr/share/amos/styles/47.sh
Icon=/usr/share/icons/AmOs/actions/24/channelmixer.svg
Path=
Terminal=false
StartupNotify=false
