[Desktop Entry]
Version=1.0
Type=Application
Name=044
Comment=044
Exec=/usr/share/amos/styles/44.sh
Icon=/usr/share/icons/AmOs/actions/24/channelmixer.svg
Path=
Terminal=false
StartupNotify=false
