[Desktop Entry]
Version=1.0
Type=Application
Name=040
Comment=040
Exec=/usr/share/amos/styles/40.sh
Icon=/usr/share/icons/AmOs/actions/24/channelmixer.svg
Path=
Terminal=false
StartupNotify=false
