[Desktop Entry]
Version=1.0
Type=Application
Name=032
Comment=032
Exec=/usr/share/amos/styles/32.sh
Icon=/usr/share/icons/AmOs/actions/24/channelmixer.svg
Path=
Terminal=false
StartupNotify=false
