[Desktop Entry]
Version=1.0
Type=Application
Name=058
Comment=058
Exec=/usr/share/amos/styles/58.sh
Icon=/usr/share/icons/AmOs/actions/24/channelmixer.svg
Path=
Terminal=false
StartupNotify=false
