[Desktop Entry]
Version=1.0
Type=Application
Name=007
Comment=007
Exec=/usr/share/amos/styles/7.sh
Icon=/usr/share/icons/AmOs/actions/24/channelmixer.svg
Path=
Terminal=false
StartupNotify=false
