[Desktop Entry]
Version=1.0
Type=Application
Name=036
Comment=036
Exec=/usr/share/amos/styles/36.sh
Icon=/usr/share/icons/AmOs/actions/24/channelmixer.svg
Path=
Terminal=false
StartupNotify=false
