[Desktop Entry]
Version=1.0
Type=Application
Name=030
Comment=030
Exec=/usr/share/amos/styles/30.sh
Icon=/usr/share/icons/AmOs/actions/24/channelmixer.svg
Path=
Terminal=false
StartupNotify=false
