[Desktop Entry]
Version=1.0
Type=Application
Name=039
Comment=039
Exec=/usr/share/amos/styles/39.sh
Icon=/usr/share/icons/AmOs/actions/24/channelmixer.svg
Path=
Terminal=false
StartupNotify=false
