[Desktop Entry]
Version=1.0
Type=Application
Name=017
Comment=017
Exec=/usr/share/amos/styles/17.sh
Icon=/usr/share/icons/AmOs/actions/24/channelmixer.svg
Path=
Terminal=false
StartupNotify=false
