[Desktop Entry]
Version=1.0
Type=Application
Name=041
Comment=041
Exec=/usr/share/amos/styles/41.sh
Icon=/usr/share/icons/AmOs/actions/24/channelmixer.svg
Path=
Terminal=false
StartupNotify=false
