[Desktop Entry]
Version=1.0
Type=Application
Name=012
Comment=012
Exec=/usr/share/amos/styles/12.sh
Icon=/usr/share/icons/AmOs/actions/24/channelmixer.svg
Path=
Terminal=false
StartupNotify=false
