[Desktop Entry]
Version=1.0
Type=Application
Name=042
Comment=042
Exec=/usr/share/amos/styles/42.sh
Icon=/usr/share/icons/AmOs/actions/24/channelmixer.svg
Path=
Terminal=false
StartupNotify=false
