[Desktop Entry]
Version=1.0
Type=Application
Name=003
Comment=003
Exec=/usr/share/amos/styles/3.sh
Icon=/usr/share/icons/AmOs/actions/24/channelmixer.svg
Path=
Terminal=false
StartupNotify=false
