[General]
Small_Spacings=true
Lines_Size=2
Preferred_Height=407
Number_Chips=2

[Chip0]
Name=k10temp-c3
Number=0

[Chip0_Feature0]
Address=0
Name=Tctl
Color=#FFFFFF
Show=true
Min=0
Max=80

[Chip1]
Name=ACPI
Number=1

